.center{
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  }

  body {
	background-color: aliceblue;
	display:block;
	align-items: left;
	text-align: left;
	justify-content: left;
	text-align: left;
	font-size: 25px;
	border: 10px, groove, black;
	margin: 80px;
	padding: 10px;

}

* {
	padding: 0;
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
  }